{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<div class="form-group">
    <label class="control-label">{% trans ' 3.5.2 Location of Copies' %}</label>
    {% for form in location_of_copies %}
        <div id="{{ form.prefix }}-row" class="location_of_copies-subform subform row">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="col-md-6">
                <div class="form-group">
                    {% render_field form.url placeholder=form.url.label.upper class+='form-control' %}
                </div>
            </div>
            <div class="col-md-5">
                {% render_field form.info placeholder=form.info.label class+='form-control' %}
            </div>
            <div class="col-md-1">
               {{ form.DELETE|add_class:"delete-row-hidden" }}
            </div>
        </div>
    {% endfor %}
    {{ location_of_copies.management_form }}
</div>