{% extends 'layout-box-table.html' %}

{% load staticfiles %}
{% load i18n %}

{% block css_page %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'thirdparty/editor/css/editor.bootstrap.min.css' %}">
{% endblock %}

{% block js_page %}
    <script src="{% static 'js/ajax-post.js' %}"></script>
    <script src="{% static 'thirdparty/editor/js/dataTables.editor.min.js' %}"></script>
    <script src="{% static 'thirdparty/editor/js/editor.bootstrap.min.js' %}"></script>

    <script src="{% static 'controlled_list/js/building.js' %}"></script>
{% endblock %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li>
            <i class="fa fa-list-alt"></i>&nbsp;&nbsp;{% trans 'Lists' %}
        </li>
        <li>
            {% trans 'Controlled Lists' %}
        </li>
        <li>
            {% trans 'Buildings' %}
        </li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block box-1-title %}
    {% trans 'Buildings' %}
{% endblock %}

{% block box-1-body %}
        <table id="building_table" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>{% trans 'Building' %}</th>
                </tr>
            </thead>
        </table>
{% endblock %}

{% block box-1-footer %}
    <div class="pull-right">
        <a class="btn btn-primary" href="#">
            <i class="fa fa-plus"></i>
            {% trans 'Create' %}
        </a>
    </div>
{% endblock %}

