{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<fieldset>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group">
                {% bootstrap_field form.spatial_coverage_country %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group">
                {% bootstrap_field form.spatial_coverage_place %}
                <div class="input-group-btn select2-addon">
                    <a class="btn btn-default select2-button fm-create" type="button" href="{% url 'authority:place_create' %}"
                        data-fm-head="<i class='fa fa-exchange'></i>Create Place" data-fm-callback="selectField">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-default select2-button" type="button" href="{% url 'authority:place_list' %}" target="_blank">
                        <i class="fa fa-map-marker"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group">
                {% bootstrap_field form.subject_person %}
                <div class="input-group-btn select2-addon">
                    <a class="btn btn-default select2-button fm-create" type="button" href="{% url 'authority:person_create' %}"
                        data-fm-head="<i class='fa fa-exchange'></i>Create Person" data-fm-callback="selectField">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-default select2-button" type="button" href="{% url 'authority:person_list' %}" target="_blank">
                        <i class="fa fa-group"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group">
                {% bootstrap_field form.subject_corporation %}
                <div class="input-group-btn select2-addon">
                    <a class="btn btn-default select2-button fm-create" type="button" href="{% url 'authority:corporation_create' %}"
                        data-fm-head="<i class='fa fa-exchange'></i>Create Corporation" data-fm-callback="selectField">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-default select2-button" type="button" href="{% url 'authority:corporation_list' %}" target="_blank">
                        <i class="fa fa-building-o"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="input-group">
                {% bootstrap_field form.subject_keyword %}
                <div class="input-group-btn select2-addon">
                    <a class="btn btn-default select2-button fm-create" type="button" href="{% url 'controlled_list:keyword_create' %}"
                        data-fm-head="<i class='fa fa-exchange'></i>Create Keyword" data-fm-callback="selectField">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-default select2-button" type="button" href="{% url 'controlled_list:keyword_list' %}" target="_blank">
                        <i class="fa fa-list-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</fieldset>