{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<fieldset>
    <div class="col-md-12">
        {% include 'finding_aids/container_view/subform/subform_associated_people.html' %}
    </div>
    <div class="col-md-12">
        {% include 'finding_aids/container_view/subform/subform_associated_corporations.html' %}
    </div>
    <div class="col-md-12">
        {% include 'finding_aids/container_view/subform/subform_associated_countries.html' %}
    </div>
    <div class="col-md-12">
        {% include 'finding_aids/container_view/subform/subform_associated_places.html' %}
    </div>
</fieldset>