{% extends 'layout-box-form.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block css_page %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'thirdparty/flag-css/flag-css.min.css' %}">
{% endblock %}

{% block js_page %}
    <script src="{% static 'finding_aids/js/finding_aids-form.js' %}"></script>
{% endblock %}

{% block notifications %}
    {% include 'isad/notifications-errors.html' %}
{% endblock %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li>
            <i class="fa fa-file-o"></i>&nbsp;&nbsp;{% trans 'Finding Aids' %}
        </li>
        <li>
            {{ container.archival_unit.title_full }}
        </li>
        <li>
            Container #{{ container.container_no }} / {{ container.carrier_type.type }}
        </li>
        <li>
            {% trans 'Finding Aids Records' %}
        </li>
        <li class="active">
            {% trans 'Create/Edit' %}
        </li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block box-1-title %}
    <i class="fa fa-align-justify"></i>Finding Aids Record
{% endblock %}

{% block box-1-body %}
    <div class="nav-tabs-custom">
        <ul id="isadTab" class="nav nav-tabs bordered">
            <li class="active">
                <a href="#t0" data-toggle="tab">Required Values</a>
            </li>
            <li>
                <a href="#t1" data-toggle="tab">Contributors</a>
            </li>
            <li>
                <a href="#t2" data-toggle="tab">Subjects</a>
            </li>
            <li>
                <a href="#t3" data-toggle="tab">Geography / Spatial Coverage</a>
            </li>
            <li>
                <a href="#t4" data-toggle="tab">Notes</a>
            </li>
        </ul>

        <div class="tab-content padding-10">
            <div class="tab-pane fade active in" id="t0">
                {% include 'finding_aids/container_view/form/form_tab01.html' %}
            </div>
            <div class="tab-pane" id="t1">
                {% include 'finding_aids/container_view/form/form_tab02.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block box-1-footer %}
    <div class="pull-right">
        <a class="btn btn-default" href="{% url 'finding_aids:finding_aids_container_list' container.id %}">
            <i class="fa fa-times"></i>
            {% trans 'Cancel' %}
        </a>
    </div>

    <button type="submit" class="btn btn-primary" formnovalidate>
        {% bootstrap_icon "save" %} Submit
    </button>
{% endblock %}