{% extends 'layout-box-table.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block js_page %}
    <script>
        var containerID = {{ container.id|escapejs }}
    </script>

    <script src="{% static 'clockwork/js/ajax-post.js' %}"></script>
    <script src="{% static 'finding_aids/js/finding_aids_container.js' %}"></script>
{% endblock %}

{% block title %}
   {% trans 'Clockwork AMS - Folders/Items' %}
{% endblock %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li>
            <i class="fa fa-file-o"></i>&nbsp;&nbsp;{% trans 'Finding Aids' %}
        </li>
        <li>
            {{ container.archival_unit.title_full|truncatechars:100 }}
        </li>
        <li>
            Container #{{ container.container_no }} / {{ container.carrier_type.type }}
        </li>
        <li class="active">
            {% trans 'Folders/Items' %}
        </li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block box-1-title %}
    {% trans 'Folders/Items' %}
{% endblock %}

{% block box-1-body %}
    <input id="container_id" type="hidden" value="{{ container.id }}">
    <table id="fa_table" class="table table-bordered no-padding" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>{% trans 'Title' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Action' %}</th>
                <th>{% trans 'Publish' %}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block box-1-footer %}
    <div class="pull-left">
        <a class="btn btn-primary" href="{% url 'finding_aids:create' container.id %}">
            <i class="fa fa-plus"></i>
            {% trans 'Create' %}
        </a>

        {% if templates %}
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-copy"></i>
                {% trans 'Create from Template' %}
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
            {% for template in templates %}
                <li><a href="{% url 'finding_aids:create_from_template' container.id template.id %}">{{ template }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <a href="{% url 'finding_aids:finding_aids_template_list' container.archival_unit.id %}" class="btn btn-default">
            <i class="fa fa-copy"></i> Edit Templates
        </a>
    </div>

    <div class="pull-right">
        <a href="{% url 'container:list_with_archival_unit' container.archival_unit.id %}" class="btn btn-default">
            <i class="fa fa-hand-o-left"></i> Back to Containers
        </a>
        <a id="publish_all" href="{% url 'finding_aids:publish' 'publish' container.id 'all' %}" class="btn btn-default">
            <i class="fa fa-cloud-upload"></i> Publish All
        </a>
    </div>
{% endblock %}

