<div class="btn-group">
    {% if finding_aids_entity.published %}
        <a href="/finding_aids/action/unpublish/{{ finding_aids_entity.container.id }}/{{ finding_aids_entity.id }}/" class="btn btn-success btn-xs btn-action">
            <i class="fa fa-cloud-upload"></i>
        </a>
    {% else %}
        <a href="/finding_aids/action/publish/{{ finding_aids_entity.container.id }}/{{ finding_aids_entity.id }}/" class="btn btn-danger btn-xs btn-action">
            <i class="fa fa-cloud-upload"></i>
        </a>
    {% endif %}
</div>