<div class="btn-group">
    {% if finding_aids_entity.published %}
        <a href="/finding_aids/action/unpublish/{{ finding_aids_entity.container.id }}/{{ finding_aids_entity.id }}/"
           class="btn btn-success btn-xs btn-action" data-toggle="tooltip" data-placement="top" title="Unpublish">
            <i class="fa fa-cloud-upload"></i>
        </a>
    {% else %}
        <a href="/finding_aids/action/publish/{{ finding_aids_entity.container.id }}/{{ finding_aids_entity.id }}/"
           class="btn btn-danger btn-xs btn-action" data-toggle="tooltip" data-placement="top" title="Publish">
            <i class="fa fa-cloud-upload"></i>
        </a>
    {% endif %}

    {% if finding_aids_entity.confidential %}
        <a href="/finding_aids/action/unset_confidential/{{ finding_aids_entity.container.id }}/{{ finding_aids_entity.id }}/"
           class="btn btn-warning btn-xs btn-confidential" data-toggle="tooltip" data-placement="top" title="Unset confidential">
            <i class="fa fa-exclamation-triangle"></i>
        </a>
    {% else %}
        <a href="/finding_aids/action/set_confidential/{{ finding_aids_entity.container.id }}/{{ finding_aids_entity.id }}/"
           class="btn btn-default btn-xs btn-confidential" data-toggle="tooltip" data-placement="top" title="Set confidential">
            <i class="fa fa-exclamation-triangle"></i>
        </a>
    {% endif %}
</div>