<div class="btn-group">
    <a href="{% url 'finding_aids:clone' container_id id %}" class="btn btn-default btn-xs btn-clone"
       data-toggle="tooltip" data-placement="top" title="Clone">
        <i class="fa fa-clone"></i>
    </a>
</div>

<div class="btn-group">
    <a class="btn btn-default btn-xs" href="{% url 'finding_aids:update' container_id id %}"
       data-toggle="tooltip" data-placement="top" title="Edit">
        <i class="fa fa-edit"></i>
    </a>
    <a class="btn btn-default btn-xs fm-delete" href="{% url 'finding_aids:delete' container_id id %}"
       data-fm-head="<i class='fa fa-archive'></i>Delete Finding Aids Entry" data-fm-callback="reloadTable"
       data-toggle="tooltip" data-placement="top" title="Delete">
        <i class="fa fa-trash-o"></i>
    </a>
</div>

{% if published %}
    <div class="btn-group">
        <a href="http://catalog.osaarchivum.org/catalog/{{ catalog_id }}" target="_blank" class="btn btn-default btn-xs"
           data-toggle="tooltip" data-placement="top" title="Catalog Link">
            <i class="fa fa-globe"></i>
        </a>
    </div>
{% endif %}