# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

build/
.idea/

static/css/
!static/css/clockwork.css

static/img

static/js/
!static/js/ajax-post.js
!static/js/clockwork.js
!static/js/subform.js

static/media/
static/plugins/

static/thirdparty/
!static/thirdparty/django-dynamic-formset
!static/thirdparty/fm

*/migrations/0*