# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

build/
.idea/

static/img
static/components/
static/media/

*/migrations/0*

clockwork/components/local_settings.py
clockwork/components/database_migration.py

.coverage