amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
coverage==4.5.1
dj-database-url==0.4.2
django>=1.11.18
django-appconf==1.0.2
django-bootstrap3==9.1.0
django-braces==1.11.0
-e git://github.com/JoshBone/django_cloneable.git@c603ed5ddd1a28d5677ecb4cdd53068d26296457#egg=django_cloneable
django-crispy-forms==1.7.0
django-datatables-view==1.14.0
django-date-extensions==2.0
-e git://github.com/JoshBone/django-extra-views.git@8f8f931f2ded02f639fc411c81f48fed0f2ca0c6#egg=django_extra_views
django-fm==0.2.5
django-generic-json-views==0.8
django-guardian==1.4.6
Django-Select2==5.11.1
django-session-security==2.6.0
django-split-settings==0.2.5
django-summernote==0.8.8.3
django-userena==2.0.1
django-widget-tweaks==1.4.1
djangorestframework==3.9.1
easy-thumbnails==2.5
hashids==1.2.0
html2text==2014.12.29
idna==2.6
kombu==4.1.0
Markdown==2.6.11
mysql-connector==2.1.6
mysqlclient==1.3.12
olefile==0.44
Pillow==4.3.0
pysolr==3.7.0
python-memcached==1.58
pytz==2017.3
pyyaml>=4.2b1
redis==2.10.6
requests>=2.20.0
setuptools-scm==2.1.0
six==1.10.0
urllib3>=1.23
uuid==1.30
vine==1.1.4
wikipedia==1.4.0
