{% extends 'layout-box-form.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block js_page %}
    <script>
        $('#id_archival_unit').djangoSelect2({
            placeholder: '- Select Archival Unit -'
        });
        $('#id_creator').djangoSelect2({
            placeholder: '- Select Creator -'
        });
        $('#id_donor').djangoSelect2({
            placeholder: '- Select Donor (ISAAR) -'
        });
    </script>
    <script src="{% static 'accession/js/accession-form.js' %}"></script>
{% endblock %}

{% block title %}
    {% if object %}
        {% trans 'Clockwork AMS - Edit Accession Record - '%}{{ object.title }}
    {% else %}
        {% trans 'Clockwork AMS - Create Accession Record' %}
    {% endif %}
{% endblock %}

{% block notifications %}
    {% include 'accession/notifications-errors.html' %}
{% endblock %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li>
            <i class="fa fa-exchange"></i>&nbsp;&nbsp;{% trans 'Accession' %}
        </li>
        <li>
            {% trans 'Accession Records' %}
        </li>
        <li class="active">
            {% if object %}
                {% trans 'Edit Accession Record - '%}{{ object.title }}
            {% else %}
                {% trans 'Create Accession Record' %}
            {% endif %}
        </li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block box-1-title %}
    <i class="fa fa-exchange"></i>{% trans 'Accession Records' %}
{% endblock %}

{% block box-1-body %}
    {% include 'accession/form/form_fields.html' %}
{% endblock %}

{% block box-1-footer %}
    <div class="pull-right">
        <a class="btn btn-default" href="{% url 'accession:list' %}">
            <i class="fa fa-times"></i>
            {% trans 'Cancel' %}
        </a>
        {% include 'audit_trail.html' %}
    </div>

    <button type="submit" class="btn btn-primary" formnovalidate>
        {% bootstrap_icon "save" %} Submit
    </button>
{% endblock %}