{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<div class="form-group">
    <label class="control-label">{% trans 'Places' %}</label>
    {% for form in places %}
        <div id="{{ form.prefix }}-row" class="places-subform row subform">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="col-md-4">
                {% bootstrap_field form.place show_label=false %}
            </div>
            <div class="col-md-2">
                {% bootstrap_field form.year_from show_label=false %}
            </div>
            <div class="col-md-2">
                {% bootstrap_field form.year_to show_label=false %}
            </div>
            <div class="col-md-3">
                {% bootstrap_field form.qualifier show_label=false %}
            </div>
            <div class="col-md-1">
               {{ form.DELETE|add_class:"delete-row-hidden" }}
            </div>
        </div>
    {% endfor %}
    {{ places.management_form }}
</div>