{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<div class="form-group">
    <label class="control-label">{% trans 'Standardized forms of name according to other rules' %}</label>
    {% for form in standardized_names %}
        <div id="{{ form.prefix }}-row" class="standardized_names-subform row subform">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="col-md-6">
                {% bootstrap_field form.name show_label=false %}
            </div>
            <div class="col-md-4">
                {% bootstrap_field form.standard show_label=false %}
            </div>
            <div class="col-md-2">
               {{ form.DELETE|add_class:"delete-row-hidden" }}
            </div>
        </div>
    {% endfor %}
    {{ standardized_names.management_form }}
</div>