/* DataTables Action column */
th {
    text-align: center;
    vertical-align: middle !important;
}

tbody td {
    vertical-align: middle !important;
}

.action_column {
    text-align: center;
}

.select2-container {
    width: 100% !important;
}

.box-body .nav-tabs-custom {
    margin: -10px !important;
}

.subform-wrap {
    margin-bottom: 20px;
    overflow: auto;
}

.nav-tabs-custom {
    margin-bottom: 0px !important;
}

.select2-addon {
    vertical-align: top !important;
    padding-top: 25px;
}

.select2-nolabel-addon {
    vertical-align: top !important;
    padding-top: 0px;
}

.btn-editor {
    color: #FFF !important;
}

.btn-container {
    color: #333 !important;
}

.DTE_Header_Content h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}

.panel-fullscreen {
    display: block;
    z-index: 1040;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.dt-buttons {
    float:right !important;
}

.modal-dialog {
    width: 40% !important;
}

#id_level .radio {
    display: table-cell;
    padding-right: 20px;
}

.modal-body {
    padding: 10px !important;
}

#fa_table tr.folder {
    background-color: #F9F9F9;
    font-style: italic;
}

.call_no_column i {
    width: 30px;
}

/*
.call_no_item {
    padding-left: 10px;
}
*/

.layout-boxed {
    background-image: none !important;
    background-color: #DDD;
}

.nav-tabs-custom .nav-tabs li.active {
    border-bottom-color: #3c8dbc !important;
}

.nav-tabs-custom .nav-tabs li {
    border-top: none !important;
    border-bottom: 3px solid transparent !important;
}

.box-title i {
    margin-right: 10px;
}

.modal-title i {
    margin-right: 10px;
}

.modal-header {
    color: #FFFFFF;
    background-color: #3c8dbc;
}

#deleteModal .modal-header {
    background-color: #dd4b39;
}

.delete-modal.modal-header {
    background-color: #dd4b39;
}

.info-text {
    padding: 10px 15px;
    color: #b8c7ce;
    background-color: #374850;
    height: 300px;
    overflow: auto;
    white-space: normal;
}

.info-text-header {
    font-weight: 800;
}

.info-text-wrapper p {
    text-align: left;
    padding-top: 10px;
}

.info-text::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1a2226;
	border-radius: 10px;
}

.info-text::-webkit-scrollbar
{
	width: 10px;
	background-color: #1a2226;
}

.info-text::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: #4b646f;
}

.form-group.has-success label {
    color: #333;
}

.form-group.has-success .form-control, .form-group.has-success .input-group-addon {
    border-color: #d2d6de;
}

.form-group.has-success .help-block {
    color: #737373;
}

.has-success .select2-selection {
    border-color: #d2d6de !important;
}

.archival_unit_select_refcode {
    float: left;
    width: 130px;
}

.archival_unit_select_title {
    padding-left: 10px;
    clear: both;
}

.archival_unit_title.level_F {
    padding-left: 5px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.archival_unit_title.level_SF {
    padding-left: 20px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.archival_unit_title.level_S {
    padding-left: 35px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.selection .archival_unit_title.level_F, .selection .archival_unit_title.level_SF, .selection .archival_unit_title.level_S {
    padding: 0px;
}

li.select2-search input {
    width: 100% !important;
}

form.clone-form {
    display: inline !important;
}

#id_template_select {
    margin-right: 10px;
}

div.error-content {
    padding-top: 20px;
}

div.required label:after {
    color: #cc0d1c;
    content: " *";
}

.alertify-logs {
    z-index: 9999 !important;
}
