/* DataTables Action column */
th {
    text-align: center;
    vertical-align: middle !important;
}

tbody td {
    vertical-align: middle !important;
}

.action_column {
    text-align: center;
}

.select2-container {
    width: 100% !important;
}

.box-body .nav-tabs-custom {
    margin: -10px !important;
}

.subform-wrap {
    margin-bottom: 20px;
    overflow: auto;
}

.nav-tabs-custom {
    margin-bottom: 0px !important;
}

.select2-addon {
    vertical-align: top !important;
    padding-top: 25px;
}

.btn-editor {
    color: #FFF !important;
}

.btn-container {
    color: #333 !important;
}

.DTE_Header_Content h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}

.panel-fullscreen {
    display: block;
    z-index: 1040;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.dt-buttons {
    float:right !important;
}

.modal-dialog {
    width: 40% !important;
}

#id_level .radio {
    display: table-cell;
    padding-right: 20px;
}

.modal-body {
    padding: 10px !important;
}

#fa_table tr.folder {
    background-color: #F9F9F9;
    font-style: italic;
}

.call_no_column i {
    width: 30px;
}

.call_no_item {
    padding-left: 10px;
}

.layout-boxed {
    background-image: none !important;
    background-color: #DDD;
}