{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<fieldset>
	<div class="col-md-6">
        {% bootstrap_field form.scope_and_content_abstract|add_class:"tinymce" %}
        {% bootstrap_field form.scope_and_content_narrative|add_class:"tinymce" %}
        {% bootstrap_field form.appraisal|add_class:"tinymce" %}
        {% bootstrap_field form.system_of_arrangement_information|add_class:"tinymce" %}
    </div>
	<div class="col-md-6">
        {% bootstrap_field form.scope_and_content_abstract_original|add_class:"tinymce" %}
        {% bootstrap_field form.scope_and_content_narrative_original|add_class:"tinymce" %}
        {% bootstrap_field form.appraisal_original|add_class:"tinymce" %}
        {% bootstrap_field form.system_of_arrangement_information_original|add_class:"tinymce" %}
    </div>
</fieldset>