{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<fieldset>
	<div class="col-md-6">
        {% bootstrap_field form.note|add_class:"tinymce" %}
        {% bootstrap_field form.internal_note|add_class:"tinymce" %}
        {% bootstrap_field form.archivists_note|add_class:"tinymce" %}
    </div>
	<div class="col-md-6">
        {% bootstrap_field form.note_original|add_class:"tinymce" %}
        {% bootstrap_field form.internal_note_original|add_class:"tinymce" %}
        {% bootstrap_field form.archivists_note_original|add_class:"tinymce" %}
    </div>
	<div class="col-md-12">
        {% bootstrap_field form.rules_conventions %}
    </div>
</fieldset>