{% load i18n %}
{% load bootstrap3 %}

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Containers in Units</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="toggle-expand-btn btn btn-box-tool"><i class="fa fa-expand"></i></button>
        </div>
    </div>

    <div class="box-body">
        <div class="col-md-12">
            <canvas id="archival-unit-carriers-chart"></canvas>
        </div>
    </div>
</div>


