{% load i18n %}
{% load bootstrap3 %}

<div id="published-items" class="info-box bg-yellow">
    <span class="info-box-icon"><i class="fa fa-cloud-upload"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Published Folders/Items</span>
        <span id="published-items-number" class="info-box-number"></span>

        <div class="progress">
            <div id="published-items-progress-bar" class="progress-bar"></div>
        </div>

        <span id="published-items-progress-description" class="progress-description"></span>
    </div>
    <!-- /.info-box-content -->
</div>


