{% load i18n %}
{% load bootstrap3 %}

<div id="isad" class="info-box bg-green">
    <span class="info-box-icon"><i class="fa fa-align-justify"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">ISAD(G)</span>
        <span id="isad-number" class="info-box-number"></span>

        <div class="progress">
            <div id="isad-progress-bar" class="progress-bar"></div>
        </div>

        <span id="isad-progress-description" class="progress-description"></span>
    </div>
    <!-- /.info-box-content -->
</div>


