{% extends 'layout-box-table.html' %}

{% load staticfiles %}
{% load i18n %}

{% block js_page %}
    <script src="{% static 'isaar/js/isaar.js' %}"></script>
{% endblock %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li class="active">
            <i class="fa fa-male"></i>&nbsp;&nbsp;{% trans 'ISAAR/CPF' %}
        </li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block infobox_header %}
    ISAAR-CPF
{% endblock %}

{% block infobox_text %}
    <p>{% trans 'Create, modify and remove ISAAR records here. The table shows you the already existing ISAAR records in the system.' %}</p>
{% endblock %}

{% block box-1-title %}
    <i class="fa fa-male"></i>{% trans 'ISAAR/CPF Records' %}
{% endblock %}

{% block box-1-body %}
        <table id="isaar_table" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>{% trans 'Identifier' %}</th>
                    <th>{% trans 'Authorized Forms of Name' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
            </thead>
        </table>
{% endblock %}

{% block box-1-footer %}
    <a class="btn btn-primary" href="{% url 'isaar:create' %}">
        <i class="fa fa-plus"></i>
        {% trans 'Create' %}
    </a>
{% endblock %}

