{% extends 'layout-box-table.html' %}

{% load staticfiles %}
{% load i18n %}

{% block js_page %}
    <script src="{% static 'subject/js/subject.js' %}"></script>
{% endblock %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li>
            <i class="fa fa-list-alt"></i>&nbsp;&nbsp;{% trans 'Auhtority List' %}
        </li>
        <li class="active">
            <i class="fa fa-bookmark"></i>&nbsp;&nbsp;{% trans 'Subject' %}
        </li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block box-1-title %}
    <i class="fa fa-bookmark"></i>{% trans 'Subjects' %}
{% endblock %}

{% block box-1-body %}
    <table id="subject_table" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th>{% trans 'Subject' %}</th>
                <th>{% trans 'Authority URL' %}</th>
                <th>{% trans 'Wikipedia URL' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block box-1-footer %}
    <a class="btn btn-primary fm-create" href="{% url 'authority:subject_create' %}"
        data-fm-head="<i class='fa fa-bookmark'></i>Create Subject" data-fm-callback="reloadTable">
        <i class="fa fa-plus"></i>
        {% trans 'Create' %}
    </a>
{% endblock %}
