{% load i18n %}

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{% trans 'ISAD(G) Record' %} of {{ isad.reference_code }} {{ isad.title }}</h4>
  </div>
  <div class="modal-body">
    <h5>{% trans 'Required Values' %}</h5>
    <hr/>
    <dl class="dl-horizontal">
        <dt>{% trans 'Reference Code' %}</dt>
        <dd>{{ isad.reference_code }}</dd>

        <dt>{% trans 'Title' %}</dt>
        <dd>{{ isad.title }}</dd>

        <dt>{% trans 'Date of Existence' %}</dt>
        <dd>{{ isad.year_from }} - {{ isad.year_to }}</dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>