<div class="btn-group ">
    <a class="btn btn-default btn-xs fm-update" href="{% url 'authority:corporation_update' id %}"
        data-fm-head="<i class='fa fa-building-o'></i>Edit Corporation" data-fm-callback="reloadTable">
        <i class="fa fa-edit"></i>
    </a>
    {% if not exists %}
        <a class="btn btn-default btn-xs fm-delete" href="{% url 'authority:corporation_delete' id %}"
           data-fm-head="<i class='fa fa-building-o'></i>Delete Corporation" data-fm-callback="reloadTable">
           <i class="fa fa-trash-o"></i>
        </a>
    {% endif %}
</div>