{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<div class="form-group">
    <label class="control-label">{% trans 'Languages' %}</label>
    {% for form in languages %}
        <div id="{{ form.prefix }}-row" class="languages-subform subform row">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        {% bootstrap_field form.language show_label=false %}
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="input-group">
                        {% bootstrap_field form.language_usage show_label=false %}
                    </div>
                </div>
            </div>
            <div class="col-md-1">
               {{ form.DELETE|add_class:"delete-row-hidden" }}
            </div>
        </div>
    {% endfor %}
    {{ languages.management_form }}
</div>