{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<div class="form-group">
    <label class="control-label">{% trans 'Associated Places' %}</label>
    {% for form in associated_places %}
        <div id="{{ form.prefix }}-row" class="associated_places-subform subform row">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        {% bootstrap_field form.associated_place show_label=false %}
                        <div class="input-group-btn select2-nolabel-addon">
                            <a class="btn btn-default select2-button fm-create" type="button" href="{% url 'authority:place_create' %}"
                                data-fm-head="<i class='fa fa-exchange'></i>Create Place" data-fm-callback="selectField">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-default select2-button" type="button" href="{% url 'authority:place_list' %}" target="_blank">
                                <i class="fa fa-map-marker"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="input-group">
                        {% bootstrap_field form.role show_label=false %}
                        <div class="input-group-btn select2-nolabel-addon">
                            <a class="btn btn-default select2-button fm-create" type="button" href="{% url 'controlled_list:geo_role_create' %}"
                                data-fm-head="<i class='fa fa-exchange'></i>Create Role" data-fm-callback="selectField">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-default select2-button" type="button" href="{% url 'controlled_list:geo_role_list' %}" target="_blank">
                                <i class="fa fa-list-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
               {{ form.DELETE|add_class:"delete-row-hidden" }}
            </div>
        </div>
    {% endfor %}
    {{ associated_places.management_form }}
</div>