{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<div class="form-group">
    <label class="control-label">{% trans 'Dates' %}</label>
    {% for form in dates %}
        <div id="{{ form.prefix }}-row" class="dates-subform subform row">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="col-md-3">
                {% render_field form.date_from placeholder=form.date_from.label class+='form-control' %}
            </div>
            <div class="col-md-3">
                {% render_field form.date_to placeholder=form.date_to.label class+='form-control' %}
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="input-group">
                        {% bootstrap_field form.date_type show_label=false %}
                        <div class="input-group-btn select2-nolabel-addon">
                            <a class="btn btn-default select2-button fm-create" type="button" href="{% url 'controlled_list:date_type_create' %}"
                                data-fm-head="Create Date Type" data-fm-callback="selectField">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-default select2-button" type="button" href="{% url 'controlled_list:date_type_list' %}" target="_blank">
                                <i class="fa fa-list-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
               {{ form.DELETE|add_class:"delete-row-hidden" }}
            </div>
        </div>
    {% endfor %}
    {{ dates.management_form }}
</div>