{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block css %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'thirdparty/select2-bootstrap/select2-bootstrap.css' %}">

    {% block css_page %}
    {% endblock %}
{% endblock %}

{% block js %}
    {{ form.media.js }}
    <script src="{% static 'thirdparty/jquery.form/jquery.form.js' %}"></script>
    <script src="{% static 'thirdparty/django-dynamic-formset/jquery.formset.js'%}"></script>
    <script src="{% static 'js/subform.js' %}"></script>

    {% block js_page %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block errors %}
    {% endblock %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                {% block box-1-title%}
                {% endblock %}
            </h3>

            <div class="box-tools pull-right">
                <button type="button" class="toggle-expand-btn btn btn-box-tool">
                    <i class="fa fa-expand"></i>
                </button>
            </div>
        </div>

        <form action="" method="post">
        {% csrf_token %}

        <div class="box-body">
            {% block box-1-body %}
            {% endblock %}
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            {% block box-1-footer %}
            {% endblock %}
        </div>
        <!-- /.box-footer-->

        </form>

    </div>
    <!-- /.box -->
{% endblock %}