{% load i18n %}

{% if form.errors %}
    <script>
        $( document ).ready(function() {
            $( document ).ready(function() {
                new Noty({
                    type: 'error',
                    theme: 'bootstrap-v3',
                    text: 'You have errors on your form, please correct them before continue.',
                    timeout: 3000,
                    closeWith: ['click', 'button']
                }).show()
            })
        })
    </script>
{% endif %}