{% extends 'layout-box-box-form-table-horizontal.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block js_page %}
    <script src="{% static 'js/ajax-post.js' %}"></script>
    <script>
        var archival_unit_id = {{ archival_unit.id }};
    </script>

    <script src="{% static 'container/js/container.js' %}"></script>
{% endblock %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li>
            <i class="fa fa-file-o"></i>&nbsp;&nbsp;{% trans 'Finding Aids' %}
        </li>
        <li>
            {{ archival_unit.title_full }}
        </li>
        <li class="active">
            {% trans 'Containers' %}
        </li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block box-1-title %}
    <i class="fa fa-archive"></i>{% trans 'Create Container' %}
{% endblock %}

{% block box-1-body %}
    {% include 'container/form/form_create_container.html' %}
{% endblock %}

{% block box-1-footer %}
    <a id="container-create" class="btn btn-primary" href="#">
        <i class="fa fa-plus"></i>
        {% trans 'Create' %}
    </a>
{% endblock %}

{% block box-2-title %}
    <i class="fa fa-archive"></i>{% trans 'Containers in ' %}'{{ archival_unit.reference_code }} {{ fonds_name }}:{{ subfonds_name }}:{{ series_name }}'
{% endblock %}

{% block box-2-body %}
    <table id="container_table" class="table table-bordered table-hover table-striped no-padding" width="100%">
        <thead>
            <tr>
                <th>{% trans 'Container No.' %}</th>
                <th>{% trans 'Permanent ID (Legacy ID)' %}</th>
                <th>{% trans 'Container Type' %}</th>
                <th>{% trans 'Primary Type' %}</th>
                <th>{% trans 'Folders/Items' %}</th>
                <th>{% trans 'Navigate' %}</th>
                <th>{% trans 'Action' %}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

