{% extends 'layout-box-box-form-table-horizontal.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block js_page %}
    <script src="{% static 'clockwork/js/ajax-post.js' %}"></script>
    <script>
        var archival_unit_id = {{ archival_unit.id }};
    </script>

    <script src="{% static 'container/js/container.js' %}"></script>
{% endblock %}

{% block title %}
    {% trans 'Clockwork AMS - Finding Aids / Containers' %}
{% endblock %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li>
            <i class="fa fa-file-o"></i>&nbsp;&nbsp;{% trans 'Finding Aids' %}
        </li>
        <li>
            {{ archival_unit.title_full|truncatechars:100 }}
        </li>
        <li class="active">
            {% trans 'Containers' %}
        </li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block box-1-title %}
    <i class="fa fa-archive"></i>{% trans 'Create Container' %}
{% endblock %}

{% block box-1-body %}
    {% include 'container/form/form_create_container.html' %}
{% endblock %}

{% block box-1-footer %}
    <a id="container-create" class="btn btn-primary" href="#">
        <i class="fa fa-plus"></i>
        {% trans 'Create' %}
    </a>
{% endblock %}

{% block box-2-title %}
    <i class="fa fa-archive"></i>{% trans 'Containers in ' %}'{{ archival_unit.title_full|truncatechars:100 }}'
{% endblock %}

{% block box-2-body %}
    <table id="container_table" class="table table-bordered table-hover table-striped no-padding" width="100%">
        <thead>
            <tr>
                <th>{% trans 'Container No.' %}</th>
                <th>{% trans 'Barcode' %}</th>
                <th>{% trans 'Carrier Type' %}</th>
                <th>{% trans 'Action' %}</th>
                <th>{% trans 'Navigate' %}</th>
                <th>{% trans 'Publish' %}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block box-2-footer %}
    <a href="{% url 'finding_aids:finding_aids_template_list' archival_unit.id %}" class="btn btn-default">
        <i class="fa fa-copy"></i> Edit Templates
    </a>

    <div class="pull-right">
        <a id="publish_all" href="{% url 'container:publish' 'publish' archival_unit.id 'all' %}" class="btn btn-default">
            <i class="fa fa-cloud-upload"></i> Publish All
        </a>
        <a id="unpublish_all" href="{% url 'container:publish' 'unpublish' archival_unit.id 'all' %}" class="btn btn-default">
            <i class="fa fa-cloud-download"></i> Unpublish All
        </a>
        <a class="btn btn-default" href="{% url 'finding_aids:choose_archival_unit' %}">
            <i class="fa fa-times"></i>
            {% trans 'Cancel' %}
        </a>
    </div>
{% endblock %}

