{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

<form role="form" class="form" method="POST" enctype="multipart/form-data" action>
    {% include 'nonfield-errors.html' %}
    {% csrf_token %}

    <fieldset>
        <div class="col-md-3">
            {% bootstrap_field form.building %}
        </div>
        <div class="col-md-3">
            {% bootstrap_field form.module %}
        </div>
        <div class="col-md-2">
            {% bootstrap_field form.row %}
        </div>
        <div class="col-md-2">
            {% bootstrap_field form.section %}
        </div>
        <div class="col-md-2">
            {% bootstrap_field form.shelf %}
        </div>
    </fieldset>
</form>