{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

<script>
    subformCreate('mlr_locations');
</script>

<div class="form-group">
    <label class="control-label">{% trans 'Locations' %}</label>
    {% for form in mlr_locations %}
        <div id="{{ form.prefix }}-row" class="mlr_locations-subform subform row">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="col-md-2">
                {% bootstrap_field form.building show_label=false %}
            </div>
            <div class="col-md-2">
                {% bootstrap_field form.module show_label=false placeholder='Module' %}
            </div>
            <div class="col-md-2">
                {% bootstrap_field form.row show_label=false placeholder='Row' %}
            </div>
            <div class="col-md-2">
                {% bootstrap_field form.section show_label=false placeholder='Section' %}
            </div>
            <div class="col-md-2">
                {% bootstrap_field form.shelf show_label=false placeholder='Shelf '%}
            </div>
            <div class="col-md-2">
               {{ form.DELETE|add_class:"delete-row-hidden" }}
            </div>
        </div>
    {% endfor %}
    {{ mlr_locations.management_form }}
</div>