{% extends 'layout-box-table.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Clockwork AMS - Archival Unit/Fonds' %}
{% endblock %}

{% block css_page %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'thirdparty/select2-bootstrap/select2-bootstrap.css' %}">
{% endblock %}

{% block js_page %}
    {{ form.media.js }}
    <script src="{% static 'archival_unit/js/archival_unit.js' %}"></script>
{% endblock %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'archival_unit:fonds' %}">
                <i class="fa fa-sitemap"></i>&nbsp;&nbsp;{% trans 'Archival Unit' %}
            </a>
        </li>
        <li class="active">{% trans 'Fonds' %}</li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block infobox_header %}
    Archival Unit :: Fonds
{% endblock %}

{% block infobox_text %}
    <p>{% trans 'Create, modify and remove Fonds here. The table shows you the already existing Fonds in the system.' %}</p>
{% endblock %}

{% block box-1-title %}
    <i class="fa fa-sitemap"></i>{% trans 'Fonds' %}
{% endblock %}

{% block box-1-body %}
    <table id="archival_unit_table" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>{% trans 'Sort' %}</th>
                <th>{% trans 'Reference Number' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Navigate' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block box-1-footer %}
    <a class="btn btn-primary fm-create" href="{% url 'archival_unit:fonds_create' %}"
       data-fm-head="<i class='fa fa-sitemap'></i>Create Fonds" data-fm-callback="reloadTable">
        <i class="fa fa-plus"></i>
        {% trans 'Create Fonds' %}
    </a>
{% endblock %}

