<div class="btn-group ">
    <a class="btn btn-default btn-xs fm-update" href="{% url 'archival_unit:series_update' id %}"
       data-fm-head="<i class='fa fa-sitemap'></i>Edit Series" data-fm-callback="reloadSeriesTable"
       data-toggle="tooltip" data-placement="top" title="Edit">
        <i class="fa fa-edit"></i>
    </a>
    {% if not container_exist %}
        <a class="btn btn-default btn-xs fm-delete" href="{% url 'archival_unit:series_delete' id %}"
           data-fm-head="<i class='fa fa-sitemap'></i>Edit Series" data-fm-callback="reloadSeriesTable"
           data-toggle="tooltip" data-placement="top" title="Delete">
           <i class="fa fa-trash-o"></i>
        </a>
    {% endif %}
</div>