{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

<script>
    $('.django-select2').djangoSelect2();
</script>

<form role="form" class="form" method="POST" enctype="multipart/form-data" action>
    {% include 'nonfield-errors.html' %}
    {% csrf_token %}
    <fieldset>
        <div class="col-md-2">
            {% bootstrap_field form.fonds %}
        </div>
        <div class="col-md-6">
            {% bootstrap_field form.fonds_title %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.fonds_acronym %}
        </div>
    </fieldset>
    <fieldset>
        <div class="col-md-2">
            {% bootstrap_field form.subfonds %}
        </div>
        <div class="col-md-6">
            {% bootstrap_field form.title %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.acronym %}
        </div>
        {{ form.parent }}
        {{ form.series }}
        {{ form.level }}
    </fieldset>
    <fieldset>
        <div class="col-md-12">
            {% bootstrap_field form.accession %}
        </div>
    </fieldset>
    <fieldset>
        {% include 'audit_trail_modal.html' %}
    </fieldset>
</form>