{% extends 'userena/base_login.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block login-title %}
    Clockwork AMS - Reset Password
{% endblock %}

{% block login-body %}
    <legend>{% trans "Reset Password" %}</legend>
    <form action="" method="post">
        <fieldset>
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
        </fieldset>

        <div class="row">
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary btn-block">{% trans "Send password" %}</button>
            </div>
            <div class="col-xs-6">
                <a href="{% url 'userena_signin' %}" class="btn btn-default btn-block"><i class="fa fa-times"></i> {% trans "Sign-in" %}</a>
            </div>
        </div>
    </form>
{% endblock %}