{% extends 'layout-box-box-form-table-vertical.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block content-header %}
    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a>
        </li>
        <li class="active">
            <i class="fa fa-user"></i> {% trans 'Profile' %}
        </li>
    </ol>
    <!-- END BREADCRUMBS -->
{% endblock %}

{% block title %}
    {% trans 'Clockwork AMS - Profile Edit' %}
{% endblock %}

{% block box-1-title %}
    {% trans 'Your Profile' %}
{% endblock %}

{% block box-1-body %}
    <img class="profile-user-img img-responsive img-circle" src="{{ profile.get_mugshot_url }}" alt="User profile picture">
    <h3 class="profile-username text-center">{{ profile.user.last_name }}, {{ profile.user.first_name }} ({{ profile.user.username }})</h3>
    <p class="text-muted text-center">
        <strong>In Group: </strong>
        {% for group in profile.user.groups.all %}
            {% if not forloop.first %}, {% endif %}
            {{ group }}
        {% endfor %}
    </p>
    <ul class="list-group list-group-unbordered">
        {% if profile.user.email and not hide_email %}
            <li class="list-group-item">
                <b>E-mail</b> <a class="pull-right">{{ profile.user.email }}</a>
            </li>
        {% endif %}
        <li class="list-group-item">
            <b>Last login</b> <a class="pull-right">{{ profile.user.last_login }}</a>
        </li>
        <li class="list-group-item">
            <b>Member since</b> <a class="pull-right">{{ profile.user.date_joined }}</a>
        </li>
    </ul>
{% endblock %}

{% block box-1-footer %}
    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'userena_profile_edit' profile.user.username %}" class="btn btn-default btn-block"><i class="fa fa-user"></i> {% trans "Edit Profile" %}</a>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'userena_password_change' profile.user.username %}" class="btn btn-default btn-block"><i class="fa fa-key"></i> {% trans "Change password" %}</a>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'userena_email_change' profile.user.username %}" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> {% trans "Change email" %}</a>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'userena_signout' %}" class="btn btn-default btn-block"><i class="fa fa-sign-out"></i> {% trans "Sign out" %}</a>
        </div>
    </div>
{% endblock %}

{% block box-2-title %}
    {% trans 'History (Last 20 activities)' %}
{% endblock %}

{% block box-2-body %}
    <br/>
    <div class="col-md-12">
        {% if audit_log %}
            <dl>
            {% for log in audit_log %}
                <dt>On {{ log.date }} your activities were:</dt>
                <ul>
                {% for activity in log.entries %}
                    <li>
                        {{ activity.module }} was {{ activity.action }}<br/>
                        <i>
                            {{ activity.text }}
                        </i>

                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </dl>
        {% endif %}
    </div>
{% endblock %}